*{
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

.main-width {
  width: 90%;
  margin:0 auto;
  border: 2px dashed red;
}

.section-header{
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% auto;
  padding-bottom: 55.7%;
  border: 1px solid red;
  height: 0;
}

.section-header .header{
  text-align: center;
  margin-top: 2%;
  img {
    width: 50%;
  }
  h2{
    color:#fff;
    font-size: 1em;
    margin-bottom: 0;
    margin-top:1%;

  }
  h3{
    color:#fff;
    font-size: 0.8em;
    margin-top: 20px;
  }

}

//Tutaj styluje ikony svg
.cls-1, .cls-2, .cls-4 {
  fill: #fff;
  transition: 1s;
}

.cls-1 {
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 0.1;
}

.cls-1:hover,
.cls-2:hover {
  stroke: #9f449b;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 1;
  fill: #9f449b;
}

.cls-1, .cls-2 {
  fill-rule: evenodd;
}

.cls-3, .cls-4 {
  font-size: 18px;
}

.cls-4 {
  text-anchor: middle;
  font-family: latoregular, sans-serif;
}
//tut aj koniec stylowania ikon svg

  .icons {
    margin-top: 14%;
    a {
      width: 75%;
      display: block;
      margin: 0 auto;

      svg {
        width: 100%;
      }
    }
    .servi-link {
      margin-top: -86%;
    }
    .portf-link {
      margin-top: -49%;

    }
  }




//.section-header .icons a{
//  color:#fff;
//  text-align: center;
//  text-decoration: none;
//  background: url("../img/bha.png") no-repeat;
//  width: 180px;
//  height: 180px;
//  display:inline-block;
//  //background: url("../img/menu-icons.png")no-repeat;
//  //&:hover{
//  //  background: url("../img/portbg.png") no-repeat ;
//  //}
//  //&::before{
//  //  margin:30px 0 0 55px;
//  //  content:'';
//  //  display:block;
//  //  width:70px;
//  //  height:70px;
//  //  background: url("../img/menu-icons.png")no-repeat;
//  //
//  //}
//}
//
//.section-header .icons {
//  .services {
//    background-position: 0 -130px;
//  }
//  .portfolio{
//    background-position: 0 -195px;
//  }
//  .about {
//    background-position: 0 0;
//  }
//  .team{
//    background-position: 0 -68px;
//  }
//  .blog {
//    background-position: 0 -260px;
//  }
//  .contact {
//    background-position: 0 -325px;
//  }
//}


.section-header .icons2 {
  text-align: center;
   .down{
      background-image: url("../img/arr2.png");
      background-repeat: no-repeat;
       width: 6%;
       margin: 0 auto;
       display: block;
       border: 1px solid yellow;
       padding-bottom: 5%;
       background-size: 84% auto;
      background-position: top center;

   }
}

.section-menu{
  color: black;
  background-color: white;
  background-size: cover;
  margin: 0 auto;

  .navigation {
    margin: 0 100px 0 100px;



    nav{
      float: right;
      position:relative;
    }

    li{
      display: inline-block;
      margin-right: 5px;
    }
    a{
      text-decoration: none;
      color: black;
      &:hover{
        color:mediumorchid;
      }
    }
  }
  .logo2{
    display:inline-block;
  }
  nav{
    display: inline-block;
  }

  .fix-nav {
    position:fixed;
    z-index: 4;
    top: 0;
    width: 100%;
    margin:0 auto;
    padding: 0 100px 0 100px;
    left: 0;
    background: #fff;

  }

}


.love {
  background: whitesmoke;
  background-size: cover;
  width: 100%;

  .love-box {
      h3 {
        text-align: center;
        color: gray;
        margin-top: 50px;
      }

      p {
        text-align: center;
        color: gray;
        margin-top: 20px;
        line-height: 30.5px;
        font-size: 15px;
      }

      a {
        display: block;
        background-size: auto;
        height: 195px;
        width: 200px;
        padding: 40px;
        margin: 0 auto;
      }
      .heart {
        background: url("../img/icons-sprite.png") no-repeat;
        &:hover {
          background: url("../img/icons-sprite-hover.png") no-repeat;
        }
      }
      .diamond {
        background: url("../img/icons-sprite.png") no-repeat;
        background-position: 0 -200px;
        &:hover {
          background: url("../img/icons-sprite-hover.png") no-repeat;
          background-position: 0 -200px;
        }
      }
      .box {
        background: url("../img/icons-sprite.png") no-repeat;
        background-position: 0 -400px;
        &:hover {
          background: url("../img/icons-sprite-hover.png") no-repeat;
          background-position: 0 -400px;
        }
      }
      .phone {
        background: url("../img/icons-sprite.png") no-repeat;
        background-position: 0 -600px;
        &:hover {
          background: url("../img/icons-sprite-hover.png") no-repeat;
          background-position: 0 -600px;
        }
      }

  }
}
  .about1{
    background: white;
    background-size: cover;
    padding: 30px;

    .about-us1{
      width: 30%;
      margin: 0 auto;
      height: 150px;
      position: relative;

      span{
        color:mediumorchid;
      }

      &:after{
        content: ' ';
        width: 30px;
        height: 30px;
        position: absolute;
        border-right: 1px solid mediumorchid;
        border-top:1px solid mediumorchid;
        top:-10px;
        right: 10px;
      }
      &:before{
        content: ' ';
        width: 30px;
        height: 30px;
        position: absolute;
        border-left:1px solid mediumorchid;
        border-bottom:1px solid mediumorchid;
        bottom: 70px;
        left: 10px;

      }

      p{
        font-size: 1.5em;
        text-align: center;
        padding: 10px;
      }
    }
    .box1{
      margin: 0 auto;
      width:100%;

      .img1{
        display:inline-block;
        width:50%;
        background-size: cover;
        padding: 0;
        margin:0;
      }
      .text-us1{
        display: inline-block;
        text-align: center;
        font-size: 0.7em;
        width: 40%;
        line-height: 2;
        color: gray;
        p{
          display: block;
        }
      }
      button{
        margin-top: 50px;
        text-align: center;
        display:block;
        float:left;
        width:40%;
        height: 60px;
        color:#fff;
        background:mediumorchid;
        border: none;
        border-radius: 11px;
        border-bottom:4px solid #7D1979;

        &:hover{
          background:white;
          border:1px solid mediumorchid;
          border-top:4px solid #7D1979;
          color:mediumorchid;
          border-radius: 11px;

        }
      }
    }
  }

  .bg-edu{
    background: url("../img/section-bg.jpg") no-repeat;
    position:relative;
    width:100%;
    margin:0 auto;

    .box2{
      width: 100%;
      text-align: center;
      padding-top: 10%;
      padding-bottom: 10%;
      color:#fff;
      font-size: 30px;

      img{
        margin-bottom: 50px;
        width:10%;
      }
    }
  }



.our {
  background: white;
  background-size: cover;
  padding: 100px;

  .our-team {
    width: 300px;
    margin: 30px auto;
    height: 100px;
    position: relative;
    text-align: center;

    span {
      color: mediumorchid;
    }

    &:after {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-right: 1px solid mediumorchid;
      border-top: 1px solid mediumorchid;
      top: -10px;
      right: -10px;
    }
    &:before {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-left: 1px solid mediumorchid;
      border-bottom: 1px solid mediumorchid;
      bottom: 40px;
      left: 0;

    }

    p {
      font-size: 40px;
      text-align: center;
      padding: 10px;
    }

  }
  .arr-button {
    margin: 0 auto;
    width: 220px;
    display: block;

    .arr-l {
      border: none;
      background: none;
      cursor: default;
    }
    .arr-r {
      border: none;
      background: none;
      cursor: default;
    }
  }


     $boxWidth:100%/3;
    .content-team{
      width: 100%;
      overflow: hidden;
      margin: 0 auto ;
      color: gray;
      border:2px solid green;

      .box-item{
        opacity:0.5;
        border:1px solid blue;
        width: $boxWidth;
      }
      .active{
        opacity: 2;
      }

      h2{
        text-transform: uppercase;
      }

      p{
        margin-bottom: 50px;
        text-transform: uppercase;
      }
      .anne{
        display:inline-block;
        float:left;
        padding:30px;
        position: relative;

        img{
          border-radius: 50%;
          width:100%;

        }

        .link{
          padding:25px;
          text-decoration:none;
          border:1px solid gray;
          border-radius: 50%;
          margin: 25px 5px 0 0;

        }
      }
      .ola{
        display:inline-block;
        float:left;
        padding: 30px;
        position: relative;

        img{
          border-radius: 50%;
          width:100%;

        }

        .link{
          margin: 5px;
          padding:25px;
          text-decoration:none;
          border:1px solid gray;
          border-radius: 50%;

        }
        .link0{
          display: block;
          padding: 30px;
          margin-top: -20px;
        }

        .link01{
          margin:20px 0 0 0;
        }

      }
      .ela{
        display: inline-block;
        float:left;
        text-align: center;
        padding: 30px;
        position: relative;

        img{
          border-radius: 50%;
          width:100%;

        }

        .link{
          margin:5px;
          padding:25px;
          text-decoration:none;
          border:1px solid gray;
          border-radius: 50%;

        }

        .link0{
          display: block;
          padding: 30px;
          margin: -20px;
        }
        .link01{
          margin:40px 0 0 -60px;
        }
      }
    }
  }

.skills {
  background: white;
  background-size: cover;
  height: 600px;
  padding: 30px;
  width: 100%;

  .our-skills {
    width: 300px;
    margin: 0 auto;
    height: 150px;
    position: relative;
    text-align: center;

    span {
      color: mediumorchid;
    }

    &:after {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-right: 1px solid mediumorchid;
      border-top: 1px solid mediumorchid;
      top: 0;
      right: 0;
    }
    &:before {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-left: 1px solid mediumorchid;
      border-bottom: 1px solid mediumorchid;
      bottom: 0;
      left: 0;

    }

    p {
      font-size: 40px;
      text-align: center;
      padding: 10px;
    }
  }
}

.skills{
  width: 100%;
  margin: 0 auto;

  h3{
    font-size:1.500em;
    font-weight:800;
    margin-bottom: 20px;
    color:black;
    display:inline-block;
    text-align: left;

  }

  p{
    font-size: 1.063em;
    color:gray;
    display:inline-block;
    margin:40px 30px 0 0;
    float:right;
  }

  .first{
    display: inline-block;
    width:50%;
    float: left;

    .graph{
      display: block;
    }

    .background-web{
      width:95%;
      height: 25px;
      background: #E5E5E5;

      p{
        background: mediumorchid;
        width:90%;
        height:100%;
        float:left;
        margin:0;
      }
    }

    .background-graph{
      width:95%;
      height: 25px;
      background:#E5E5E5;

      p{
        background: mediumorchid;
        width:75%;
        height: 100%;
        float:left;
        margin:0;
      }
    }
  }

  .second{
    display:inline-block;
    width: 50%;

    .html{
      display: block;

    .background-html{
      width:95%;
      height: 25px;
      background: #E5E5E5;

      p {
        background: mediumorchid;
        width: 70%;
        height: 100%;
        float: left;
        margin: 0;
      }
    }

    }

    .ui{
      display: block;

      .background-ui{
        width:95%;
        height: 25px;
        background: #E5E5E5;

        p {
          background: mediumorchid;
          width: 85%;
          height: 25px;
          float: left;
          margin: 0;
        }

      }
    }
  }

}

.services-section{
  background: url("../img/section-bg.jpg") no-repeat;
  position:relative;
  width:100%;
  margin:0 auto;

  .box2{
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    color:#fff;
    font-size: 30px;

    img{
      margin-bottom: 50px;
      width:10%;
    }
  }
}

.services_ {
  background: #E5E5E5;
  background-size: cover;
  padding: 80px;
  width:100%;

  h3{
    font-size: 1.75em;
    color:#000000;
  }

  p{
    font-size: 0.5em;
    color:gray;
    margin:-50px;
    padding: 0;
  }

  .numb{
    text-align: center;
    display: inline-block;
    width:90%;

    .inline{
      display: inline-block;
      text-align: center;
      width:20%;
    }
  }

  .content-team1 {
    width: 1024px;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    border:1px solid red;

    .slider-background{
      border:1px solid black;
      width: 5000px;
      position: relative;
      .slide{
        float:left;
        width: 1024px;
        border:1px dashed brown;
      }
    }
      img{
        margin-top: 5px;
        border-radius: 50%;
        text-align: center;
        width:25%;
      }

    h3{
      font-size: 1.200em;
      font-weight: 400;
    }

    span{
      color:gray;
      margin-top:10px;
      font-size: 0.5em;
    }
  }
  .white{
    width: 80%;
    height: 30px;
    text-align: center;
    display: inline-block;
    background: white;
    margin-bottom: -95px;
    margin-left: 100px;

  }
}


.portfolio{
  background: white;
  background-size: cover;
  width: 100%;
  margin:0 auto;

  .our-portfolio {
    margin: 30px auto;
    position: relative;
    text-align: center;

    span {
      color: mediumorchid;
    }

    &:after {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-right: 1px solid mediumorchid;
      border-top: 1px solid mediumorchid;
      top: 0;
      right: 0;
    }
    &:before {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-left: 1px solid mediumorchid;
      border-bottom: 1px solid mediumorchid;
      bottom: 0;
      left: 0;
    }
    p {
      font-size: 40px;
      text-align: center;
      padding: 10px;
    }
    .buttons{
      margin: 50px 0 0 10px;
      text-transform: uppercase;
      font-size: 15px;
      text-align: center;
      display: inline-block;

    a {
        text-decoration: none;
        background: white;
        border:1px solid mediumorchid;
        padding:8px 17px;
        border-radius: 15%;
        color:black;

       &:hover{
        background: mediumorchid;
        color: white;
       }
      }
    }

  }
  .photo{
    width:100%;
    background-size: cover;
    margin: 100px auto;
    text-align: center;

    h3{
      margin:0;

    }
    p{
      margin:0;
      color:gray;
    }
    .photo-item {
      position: relative;
      .nakladka {
        opacity: 0.5;
        background-color: #000000;
        width: 359px;
        height: 359px;
        position: absolute;
        top: 0;
        display: none;
      }

    }

    .big-img {
      display: none;
      position: fixed;
      top:0;
      left:0;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      z-index: 999;
      img{
        position: relative;
        top: 50%;
        margin-top: -180px;

      }
    }

    .img1{
      display: inline-block;
      width: 359px;
      height: 359px;

    }
    .img2{
      display:inline-block;
      width: 359px;
      height: 359px;

    }
    .img3{
      display:inline-block;
      width: 359px;
      height: 359px;
    }
    .img4{
      display:inline-block;
      width: 359px;
      height: 359px;

    }
    .img5{
      display:inline-block;
      width: 359px;
      height: 359px;

    }
    .img6{
      display:inline-block;
      width: 359px;
      height: 359px;
    }


  }
  button{
    margin:30px 40px -10px 0;
    display: block;
    width:150px;
    height: 60px;
    color:#fff;
    text-align: center;
    background:mediumorchid;
    border: none;
    border-radius: 11px;
    border-bottom:4px solid #7D1979;

    &:hover{
      background:white;
      border:1px solid mediumorchid;
      border-top:4px solid #7D1979;
      color:mediumorchid;
      border-radius: 11px;

    }
  }
}

.get-in {
  background: white;
  background-size: cover;
  width: 100%;

  .in {
    width: 400px;
    margin: 30px auto;
    height: 100px;
    position: relative;
    text-align: center;

    span {
      color: mediumorchid;
    }

    &:after {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-right: 1px solid mediumorchid;
      border-top: 1px solid mediumorchid;
      top: -10px;
      right: 60px;
    }
    &:before {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-left: 1px solid mediumorchid;
      border-bottom: 1px solid mediumorchid;
      bottom: 30px;
      left: 50px;
    }
    p {
      font-size: 40px;
      text-align: center;
      padding: 10px;
    }
  }
  .get-in-all{
     width: 1110px;
     height:700px;
     margin: 0 auto;

    form{
      margin: 0 auto;
      display: inline-block;
      position: relative;

      input[type="text"]{
        padding: 5px;
        margin-top: 30px;
        height: 50px;
        display: block;
        width:500px;
        outline-color: #7D1979;
    }
      input[type="email"]{
        padding: 5px;
        margin-top: 30px;
        height: 50px;
        display: block;
        width:500px;
        outline-color: #7D1979;
    }

      textarea{
        padding: 5px;
        margin-top: 30px;
        height: 400px;
        resize: none;
        width:500px;
        outline-color: #7D1979;
    }
      button{
        margin:30px 40px -10px 0;
        display: block;
        width:150px;
        height: 60px;
        color:#fff;
        text-align: center;
        background:mediumorchid;
        border: none;
        border-radius: 11px;
        border-bottom:4px solid #7D1979;

        &:hover{
          background:white;
          border:1px solid mediumorchid;
          border-top:4px solid #7D1979;
          color:mediumorchid;
          border-radius: 11px;

        }
      }
  }
    .text-in{
      float: right;
      display:inline-block;
      margin:0 auto;
      font-size: 18px;
      line-height: 2;
      width:40%;

      .text-in1{
        display:block;


      }
      .text-in2{
        display: block;
        margin: 100px 0 100px 0;

      }

      a{
        text-decoration: none;
        border:1px solid #000000;
        padding:15px 20px 15px 20px;
        border-radius:50%;
        margin-top: 150px;

        &:hover{
          border:1px solid mediumorchid;
          color:mediumorchid;
        }

      }

    }
    .img-logo {
      margin-top: 50px;
      width:100%;
      display: inline-block;
      text-align: center;
    }
  }

}

@media screen and (max-width:950px){
  .section-header {
    .header {
      img {
        width: 39%;
      }
    }
  }
}

@media screen and (max-width:770px){
  .icons {
    margin-top:0;
    .portf-link{
       margin-top: 0;
     }
    .servi-link {
      margin-top: 0;
    }

  }
}

@media screen and (max-width:550px){
  .section-header {
    .hamburger {
      background: none;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 45px;
      padding: 0px 15px 0px 15px;
      color: #fff;
      border: 0;
      font-size: 1.4em;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      z-index: 10000000000000;
    }
    .cross {
      background: none;
      position: absolute;
      top: 0px;
      right: 0;
      padding: 0px 15px 0px 15px;
      color: #fff;
      border: 0;
      font-size: 3em;
      line-height: 65px;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      z-index: 10000000000000;
    }
    .hamburger{
      z-index:1000000;
      font-weight:bold;
      font-size:0.8em;
      width:100%;
      background:#131313;
      position:absolute;
      text-align:center;
    }
    .hamburger a {
      margin: 0;
      padding: 0;
    }
    .hamburger a{
      text-decoration:none;
      color:white;}
    .hamburger a:hover{
      text-decoration:none;
      color:white;
    }
  }
}
//hamburger menu

