/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */ }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid-container {
  width: 100%;
  max-width: 1024px;
  border: 1px solid yellow;
  margin: 0 auto; }
  .grid-container .row [class*="column-"] {
    border: 1px solid pink;
    float: left; }
  .grid-container .row .column-1 {
    width: 8.33333%; }
  .grid-container .row .column-2 {
    width: 16.66667%; }
  .grid-container .row .column-3 {
    width: 25%; }
  .grid-container .row .column-4 {
    width: 33.33333%; }
  .grid-container .row .column-5 {
    width: 41.66667%; }
  .grid-container .row .column-6 {
    width: 50%; }
  .grid-container .row .column-7 {
    width: 58.33333%; }
  .grid-container .row .column-8 {
    width: 66.66667%; }
  .grid-container .row .column-9 {
    width: 75%; }
  .grid-container .row .column-10 {
    width: 83.33333%; }
  .grid-container .row .column-11 {
    width: 91.66667%; }
  .grid-container .row .column-12 {
    width: 100%; }
  .grid-container .row:before, .grid-container .row:after {
    clear: both;
    content: " ";
    display: block; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em; }

.main-width {
  width: 90%;
  margin: 0 auto;
  border: 2px dashed red; }

.section-header {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% auto;
  padding-bottom: 55.7%;
  border: 1px solid red;
  height: 0; }

.section-header .header {
  text-align: center;
  margin-top: 2%; }
  .section-header .header img {
    width: 50%; }
  .section-header .header h2 {
    color: #fff;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 1%; }
  .section-header .header h3 {
    color: #fff;
    font-size: 0.8em;
    margin-top: 20px; }

.cls-1, .cls-2, .cls-4 {
  fill: #fff;
  transition: 1s; }

.cls-1 {
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 0.1; }

.cls-1:hover,
.cls-2:hover {
  stroke: #9f449b;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 1;
  fill: #9f449b; }

.cls-1, .cls-2 {
  fill-rule: evenodd; }

.cls-3, .cls-4 {
  font-size: 18px; }

.cls-4 {
  text-anchor: middle;
  font-family: latoregular, sans-serif; }

.icons {
  margin-top: 14%; }
  .icons a {
    width: 75%;
    display: block;
    margin: 0 auto; }
    .icons a svg {
      width: 100%; }
  .icons .servi-link {
    margin-top: -86%; }
  .icons .portf-link {
    margin-top: -49%; }

.section-header .icons2 {
  text-align: center; }
  .section-header .icons2 .down {
    background-image: url("../img/arr2.png");
    background-repeat: no-repeat;
    width: 6%;
    margin: 0 auto;
    display: block;
    border: 1px solid yellow;
    padding-bottom: 5%;
    background-size: 84% auto;
    background-position: top center; }

.section-menu {
  color: black;
  background-color: white;
  background-size: cover;
  margin: 0 auto; }
  .section-menu .navigation {
    margin: 0 100px 0 100px; }
    .section-menu .navigation nav {
      float: right;
      position: relative; }
    .section-menu .navigation li {
      display: inline-block;
      margin-right: 5px; }
    .section-menu .navigation a {
      text-decoration: none;
      color: black; }
      .section-menu .navigation a:hover {
        color: mediumorchid; }
  .section-menu .logo2 {
    display: inline-block; }
  .section-menu nav {
    display: inline-block; }
  .section-menu .fix-nav {
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px 0 100px;
    left: 0;
    background: #fff; }

.love {
  background: whitesmoke;
  background-size: cover;
  width: 100%; }
  .love .love-box h3 {
    text-align: center;
    color: gray;
    margin-top: 50px; }
  .love .love-box p {
    text-align: center;
    color: gray;
    margin-top: 20px;
    line-height: 30.5px;
    font-size: 15px; }
  .love .love-box a {
    display: block;
    background-size: auto;
    height: 195px;
    width: 200px;
    padding: 40px;
    margin: 0 auto; }
  .love .love-box .heart {
    background: url("../img/icons-sprite.png") no-repeat; }
    .love .love-box .heart:hover {
      background: url("../img/icons-sprite-hover.png") no-repeat; }
  .love .love-box .diamond {
    background: url("../img/icons-sprite.png") no-repeat;
    background-position: 0 -200px; }
    .love .love-box .diamond:hover {
      background: url("../img/icons-sprite-hover.png") no-repeat;
      background-position: 0 -200px; }
  .love .love-box .box {
    background: url("../img/icons-sprite.png") no-repeat;
    background-position: 0 -400px; }
    .love .love-box .box:hover {
      background: url("../img/icons-sprite-hover.png") no-repeat;
      background-position: 0 -400px; }
  .love .love-box .phone {
    background: url("../img/icons-sprite.png") no-repeat;
    background-position: 0 -600px; }
    .love .love-box .phone:hover {
      background: url("../img/icons-sprite-hover.png") no-repeat;
      background-position: 0 -600px; }

.about1 {
  background: white;
  background-size: cover;
  padding: 30px; }
  .about1 .about-us1 {
    width: 30%;
    margin: 0 auto;
    height: 150px;
    position: relative; }
    .about1 .about-us1 span {
      color: mediumorchid; }
    .about1 .about-us1:after {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-right: 1px solid mediumorchid;
      border-top: 1px solid mediumorchid;
      top: -10px;
      right: 10px; }
    .about1 .about-us1:before {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-left: 1px solid mediumorchid;
      border-bottom: 1px solid mediumorchid;
      bottom: 70px;
      left: 10px; }
    .about1 .about-us1 p {
      font-size: 1.5em;
      text-align: center;
      padding: 10px; }
  .about1 .box1 {
    margin: 0 auto;
    width: 100%; }
    .about1 .box1 .img1 {
      display: inline-block;
      width: 50%;
      background-size: cover;
      padding: 0;
      margin: 0; }
    .about1 .box1 .text-us1 {
      display: inline-block;
      text-align: center;
      font-size: 0.7em;
      width: 40%;
      line-height: 2;
      color: gray; }
      .about1 .box1 .text-us1 p {
        display: block; }
    .about1 .box1 button {
      margin-top: 50px;
      text-align: center;
      display: block;
      float: left;
      width: 40%;
      height: 60px;
      color: #fff;
      background: mediumorchid;
      border: none;
      border-radius: 11px;
      border-bottom: 4px solid #7D1979; }
      .about1 .box1 button:hover {
        background: white;
        border: 1px solid mediumorchid;
        border-top: 4px solid #7D1979;
        color: mediumorchid;
        border-radius: 11px; }

.bg-edu {
  background: url("../img/section-bg.jpg") no-repeat;
  position: relative;
  width: 100%;
  margin: 0 auto; }
  .bg-edu .box2 {
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #fff;
    font-size: 30px; }
    .bg-edu .box2 img {
      margin-bottom: 50px;
      width: 10%; }

.our {
  background: white;
  background-size: cover;
  padding: 100px; }
  .our .our-team {
    width: 300px;
    margin: 30px auto;
    height: 100px;
    position: relative;
    text-align: center; }
    .our .our-team span {
      color: mediumorchid; }
    .our .our-team:after {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-right: 1px solid mediumorchid;
      border-top: 1px solid mediumorchid;
      top: -10px;
      right: -10px; }
    .our .our-team:before {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-left: 1px solid mediumorchid;
      border-bottom: 1px solid mediumorchid;
      bottom: 40px;
      left: 0; }
    .our .our-team p {
      font-size: 40px;
      text-align: center;
      padding: 10px; }
  .our .arr-button {
    margin: 0 auto;
    width: 220px;
    display: block; }
    .our .arr-button .arr-l {
      border: none;
      background: none;
      cursor: default; }
    .our .arr-button .arr-r {
      border: none;
      background: none;
      cursor: default; }
  .our .content-team {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    color: gray;
    border: 2px solid green; }
    .our .content-team .box-item {
      opacity: 0.5;
      border: 1px solid blue;
      width: 33.33333%; }
    .our .content-team .active {
      opacity: 2; }
    .our .content-team h2 {
      text-transform: uppercase; }
    .our .content-team p {
      margin-bottom: 50px;
      text-transform: uppercase; }
    .our .content-team .anne {
      display: inline-block;
      float: left;
      padding: 30px;
      position: relative; }
      .our .content-team .anne img {
        border-radius: 50%;
        width: 100%; }
      .our .content-team .anne .link {
        padding: 25px;
        text-decoration: none;
        border: 1px solid gray;
        border-radius: 50%;
        margin: 25px 5px 0 0; }
    .our .content-team .ola {
      display: inline-block;
      float: left;
      padding: 30px;
      position: relative; }
      .our .content-team .ola img {
        border-radius: 50%;
        width: 100%; }
      .our .content-team .ola .link {
        margin: 5px;
        padding: 25px;
        text-decoration: none;
        border: 1px solid gray;
        border-radius: 50%; }
      .our .content-team .ola .link0 {
        display: block;
        padding: 30px;
        margin-top: -20px; }
      .our .content-team .ola .link01 {
        margin: 20px 0 0 0; }
    .our .content-team .ela {
      display: inline-block;
      float: left;
      text-align: center;
      padding: 30px;
      position: relative; }
      .our .content-team .ela img {
        border-radius: 50%;
        width: 100%; }
      .our .content-team .ela .link {
        margin: 5px;
        padding: 25px;
        text-decoration: none;
        border: 1px solid gray;
        border-radius: 50%; }
      .our .content-team .ela .link0 {
        display: block;
        padding: 30px;
        margin: -20px; }
      .our .content-team .ela .link01 {
        margin: 40px 0 0 -60px; }

.skills {
  background: white;
  background-size: cover;
  height: 600px;
  padding: 30px;
  width: 100%; }
  .skills .our-skills {
    width: 300px;
    margin: 0 auto;
    height: 150px;
    position: relative;
    text-align: center; }
    .skills .our-skills span {
      color: mediumorchid; }
    .skills .our-skills:after {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-right: 1px solid mediumorchid;
      border-top: 1px solid mediumorchid;
      top: 0;
      right: 0; }
    .skills .our-skills:before {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-left: 1px solid mediumorchid;
      border-bottom: 1px solid mediumorchid;
      bottom: 0;
      left: 0; }
    .skills .our-skills p {
      font-size: 40px;
      text-align: center;
      padding: 10px; }

.skills {
  width: 100%;
  margin: 0 auto; }
  .skills h3 {
    font-size: 1.500em;
    font-weight: 800;
    margin-bottom: 20px;
    color: black;
    display: inline-block;
    text-align: left; }
  .skills p {
    font-size: 1.063em;
    color: gray;
    display: inline-block;
    margin: 40px 30px 0 0;
    float: right; }
  .skills .first {
    display: inline-block;
    width: 50%;
    float: left; }
    .skills .first .graph {
      display: block; }
    .skills .first .background-web {
      width: 95%;
      height: 25px;
      background: #E5E5E5; }
      .skills .first .background-web p {
        background: mediumorchid;
        width: 90%;
        height: 100%;
        float: left;
        margin: 0; }
    .skills .first .background-graph {
      width: 95%;
      height: 25px;
      background: #E5E5E5; }
      .skills .first .background-graph p {
        background: mediumorchid;
        width: 75%;
        height: 100%;
        float: left;
        margin: 0; }
  .skills .second {
    display: inline-block;
    width: 50%; }
    .skills .second .html {
      display: block; }
      .skills .second .html .background-html {
        width: 95%;
        height: 25px;
        background: #E5E5E5; }
        .skills .second .html .background-html p {
          background: mediumorchid;
          width: 70%;
          height: 100%;
          float: left;
          margin: 0; }
    .skills .second .ui {
      display: block; }
      .skills .second .ui .background-ui {
        width: 95%;
        height: 25px;
        background: #E5E5E5; }
        .skills .second .ui .background-ui p {
          background: mediumorchid;
          width: 85%;
          height: 25px;
          float: left;
          margin: 0; }

.services-section {
  background: url("../img/section-bg.jpg") no-repeat;
  position: relative;
  width: 100%;
  margin: 0 auto; }
  .services-section .box2 {
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #fff;
    font-size: 30px; }
    .services-section .box2 img {
      margin-bottom: 50px;
      width: 10%; }

.services_ {
  background: #E5E5E5;
  background-size: cover;
  padding: 80px;
  width: 100%; }
  .services_ h3 {
    font-size: 1.75em;
    color: #000000; }
  .services_ p {
    font-size: 0.5em;
    color: gray;
    margin: -50px;
    padding: 0; }
  .services_ .numb {
    text-align: center;
    display: inline-block;
    width: 90%; }
    .services_ .numb .inline {
      display: inline-block;
      text-align: center;
      width: 20%; }
  .services_ .content-team1 {
    width: 1024px;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid red; }
    .services_ .content-team1 .slider-background {
      border: 1px solid black;
      width: 5000px;
      position: relative; }
      .services_ .content-team1 .slider-background .slide {
        float: left;
        width: 1024px;
        border: 1px dashed brown; }
    .services_ .content-team1 img {
      margin-top: 5px;
      border-radius: 50%;
      text-align: center;
      width: 25%; }
    .services_ .content-team1 h3 {
      font-size: 1.200em;
      font-weight: 400; }
    .services_ .content-team1 span {
      color: gray;
      margin-top: 10px;
      font-size: 0.5em; }
  .services_ .white {
    width: 80%;
    height: 30px;
    text-align: center;
    display: inline-block;
    background: white;
    margin-bottom: -95px;
    margin-left: 100px; }

.portfolio {
  background: white;
  background-size: cover;
  width: 100%;
  margin: 0 auto; }
  .portfolio .our-portfolio {
    margin: 30px auto;
    position: relative;
    text-align: center; }
    .portfolio .our-portfolio span {
      color: mediumorchid; }
    .portfolio .our-portfolio:after {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-right: 1px solid mediumorchid;
      border-top: 1px solid mediumorchid;
      top: 0;
      right: 0; }
    .portfolio .our-portfolio:before {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-left: 1px solid mediumorchid;
      border-bottom: 1px solid mediumorchid;
      bottom: 0;
      left: 0; }
    .portfolio .our-portfolio p {
      font-size: 40px;
      text-align: center;
      padding: 10px; }
    .portfolio .our-portfolio .buttons {
      margin: 50px 0 0 10px;
      text-transform: uppercase;
      font-size: 15px;
      text-align: center;
      display: inline-block; }
      .portfolio .our-portfolio .buttons a {
        text-decoration: none;
        background: white;
        border: 1px solid mediumorchid;
        padding: 8px 17px;
        border-radius: 15%;
        color: black; }
        .portfolio .our-portfolio .buttons a:hover {
          background: mediumorchid;
          color: white; }
  .portfolio .photo {
    width: 100%;
    background-size: cover;
    margin: 100px auto;
    text-align: center; }
    .portfolio .photo h3 {
      margin: 0; }
    .portfolio .photo p {
      margin: 0;
      color: gray; }
    .portfolio .photo .photo-item {
      position: relative; }
      .portfolio .photo .photo-item .nakladka {
        opacity: 0.5;
        background-color: #000000;
        width: 359px;
        height: 359px;
        position: absolute;
        top: 0;
        display: none; }
    .portfolio .photo .big-img {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      z-index: 999; }
      .portfolio .photo .big-img img {
        position: relative;
        top: 50%;
        margin-top: -180px; }
    .portfolio .photo .img1 {
      display: inline-block;
      width: 359px;
      height: 359px; }
    .portfolio .photo .img2 {
      display: inline-block;
      width: 359px;
      height: 359px; }
    .portfolio .photo .img3 {
      display: inline-block;
      width: 359px;
      height: 359px; }
    .portfolio .photo .img4 {
      display: inline-block;
      width: 359px;
      height: 359px; }
    .portfolio .photo .img5 {
      display: inline-block;
      width: 359px;
      height: 359px; }
    .portfolio .photo .img6 {
      display: inline-block;
      width: 359px;
      height: 359px; }
  .portfolio button {
    margin: 30px 40px -10px 0;
    display: block;
    width: 150px;
    height: 60px;
    color: #fff;
    text-align: center;
    background: mediumorchid;
    border: none;
    border-radius: 11px;
    border-bottom: 4px solid #7D1979; }
    .portfolio button:hover {
      background: white;
      border: 1px solid mediumorchid;
      border-top: 4px solid #7D1979;
      color: mediumorchid;
      border-radius: 11px; }

.get-in {
  background: white;
  background-size: cover;
  width: 100%; }
  .get-in .in {
    width: 400px;
    margin: 30px auto;
    height: 100px;
    position: relative;
    text-align: center; }
    .get-in .in span {
      color: mediumorchid; }
    .get-in .in:after {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-right: 1px solid mediumorchid;
      border-top: 1px solid mediumorchid;
      top: -10px;
      right: 60px; }
    .get-in .in:before {
      content: ' ';
      width: 30px;
      height: 30px;
      position: absolute;
      border-left: 1px solid mediumorchid;
      border-bottom: 1px solid mediumorchid;
      bottom: 30px;
      left: 50px; }
    .get-in .in p {
      font-size: 40px;
      text-align: center;
      padding: 10px; }
  .get-in .get-in-all {
    width: 1110px;
    height: 700px;
    margin: 0 auto; }
    .get-in .get-in-all form {
      margin: 0 auto;
      display: inline-block;
      position: relative; }
      .get-in .get-in-all form input[type="text"] {
        padding: 5px;
        margin-top: 30px;
        height: 50px;
        display: block;
        width: 500px;
        outline-color: #7D1979; }
      .get-in .get-in-all form input[type="email"] {
        padding: 5px;
        margin-top: 30px;
        height: 50px;
        display: block;
        width: 500px;
        outline-color: #7D1979; }
      .get-in .get-in-all form textarea {
        padding: 5px;
        margin-top: 30px;
        height: 400px;
        resize: none;
        width: 500px;
        outline-color: #7D1979; }
      .get-in .get-in-all form button {
        margin: 30px 40px -10px 0;
        display: block;
        width: 150px;
        height: 60px;
        color: #fff;
        text-align: center;
        background: mediumorchid;
        border: none;
        border-radius: 11px;
        border-bottom: 4px solid #7D1979; }
        .get-in .get-in-all form button:hover {
          background: white;
          border: 1px solid mediumorchid;
          border-top: 4px solid #7D1979;
          color: mediumorchid;
          border-radius: 11px; }
    .get-in .get-in-all .text-in {
      float: right;
      display: inline-block;
      margin: 0 auto;
      font-size: 18px;
      line-height: 2;
      width: 40%; }
      .get-in .get-in-all .text-in .text-in1 {
        display: block; }
      .get-in .get-in-all .text-in .text-in2 {
        display: block;
        margin: 100px 0 100px 0; }
      .get-in .get-in-all .text-in a {
        text-decoration: none;
        border: 1px solid #000000;
        padding: 15px 20px 15px 20px;
        border-radius: 50%;
        margin-top: 150px; }
        .get-in .get-in-all .text-in a:hover {
          border: 1px solid mediumorchid;
          color: mediumorchid; }
    .get-in .get-in-all .img-logo {
      margin-top: 50px;
      width: 100%;
      display: inline-block;
      text-align: center; }

@media screen and (max-width: 950px) {
  .section-header .header img {
    width: 39%; } }
@media screen and (max-width: 770px) {
  .icons {
    margin-top: 0; }
    .icons .portf-link {
      margin-top: 0; }
    .icons .servi-link {
      margin-top: 0; } }
@media screen and (max-width: 55px) {
  .section-header .hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000; }
  .section-header .cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000; }
  .section-header .hamburger {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: #131313;
    position: absolute;
    text-align: center; }
  .section-header .hamburger a {
    margin: 0;
    padding: 0; }
  .section-header .hamburger a {
    text-decoration: none;
    color: white; }
  .section-header .hamburger a:hover {
    text-decoration: none;
    color: white; } }

/*# sourceMappingURL=style.css.map */
